.container {
  background-color: #ffffff; /* 배경색 추가 */
  padding: 30px; /* 마진 추가 */
  border-radius: 8px; /* 둥근 모서리 추가 */
  text-align: center; /* 텍스트와 드롭다운을 가운데 정렬 */
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
  color: #000000; /* 제목 색상 */
}

.dropdownContainer {
  display: flex;
  justify-content: center; /* 드롭다운들을 가로로 중앙 정렬 */
  gap: 20px; /* 드롭다운 간의 간격 */
}

.dropdownContainer label {
  display: block;
  font-size: 1.0em;
  font-weight: bold;
  margin-bottom: 5px;
  color: #454545; /* 텍스트 색상 */
}

.dropdownContainer select {
  padding: 10px;
  font-size: 1em;
  background-color: #ffffff; /* 드롭다운 배경색을 흰색으로 변경 */
  color: #0f1ea2; /* 텍스트 색상 */
  border: 1px solid #0f1ea2; /* 테두리 추가 */
  border-radius: 8px;
  appearance: none;
  -webkit-appearance: none; /* Safari */
  -moz-appearance: none; /* Firefox */
  outline: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%230f1ea2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1em;
  width: 200px; /* 드롭다운의 고정된 너비 설정 */
}

.dropdownContainer select:hover,
.dropdownContainer select:focus {
  background-color: #f0f0f0; /* 호버 시 배경색을 연한 회색으로 변경 */
}

.dropdownContainer select option {
  background-color: #ffffff; /* 옵션 배경색을 흰색으로 변경 */
  color: #0f1ea2; /* 옵션 텍스트 색상 */
}
