.price-info-container {
    background-color: #ffffff; /* 어두운 배경색 */
    padding: 35px;
    border-radius: 8px;
    color: #0f1ea2;
    margin: 40px 20px 20px 20px;
  }
  
  .selection-info p {
    text-align: center; /* 텍스트를 가운데 정렬 */
    font-size: 2em; /* 텍스트 크기 조절 */
    font-weight: bold; /* 텍스트 굵게 */
    margin-bottom: 20px; /* 아래쪽 여백 추가 */
    color: #000000;
    padding: 10px;
  }
  
  .forecast-info {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    margin: 0px 50px 15px 50px;
    border: 1px solid #dfdfdf;
  }
  
  .forecast-text {
    font-size: 2em;
    font-weight: bold;
    
  }
  
  .forecast-highlight {
    color: #00aaff; /* 하이라이트 색상 */
  }
  
  .price-info {
    display: flex;
    justify-content: space-between;
  }
  
  .price-block {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    width: 48%;
    border: 1px solid #dfdfdf;
    margin: 0px 50px 0px 50px;
    
  }
  
  .price-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .price-detail {
    font-size: 2em;
    font-weight: bold;
  }
  
  .price-amount {
    font-weight: bold;
    color: #ff9421; /* 가격 색상 */
  }
  
  .no-data, .no-selection {
    text-align: center;
    color: #ff6b6b; /* 경고 색상 */
    font-size: 1.2em;
  }
  
  .chart-container {
  margin-top: 40px; /* 여백을 여기서 추가 */
}